@import "../../assets/stylesheets/base/colors";



.wrapper{

  border: 1px solid #aaaaaa;
  background: #f8f8f8;
  border-radius: 5px;
}

.head{
  display: flex;
  justify-content: space-between;
}

.body{
  display: flex;
  justify-content: space-between;
}

.name{
  margin-top: 0;
  margin-bottom: 6px;
  color: #5bb7db;
  font-size: 16px;
  font-weight: 700;
}

.url{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #aaaaaa;
  font-weight: 500;
}

.toolbar{
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.expander{
  margin-left: 10px;
  margin-top: 7px;

  background: none;
  border: none;
  position: relative;

  cursor: pointer;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-left: 3px solid #979797;
    border-bottom: 3px solid #979797;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &:not(.expanded){
    &::before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &.expanded{
    &::before {
      margin-top: 5px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}

.blocks-wrapper{
  padding-top: 12px;
  text-align: center;
  color: $danger-color;
  font-weight: 700;
}
